name: .NET Test

on:
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Restore .NET
        run: dotnet restore
      - name: Build .NET
        run: dotnet build -c Release --no-restore
      - name: Test .NET
        run: dotnet test --no-build
     
