name: Create Docker Image

on:
  push:
    branches: [ master ]

jobs:
  build_and_deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Get Github Hash
        run: |
          echo "GITHUB_SHORT_COMMIT_HASH=$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_ENV
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and Deploy
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/msvc-users:${{ env.GITHUB_SHORT_COMMIT_HASH }}
            ${{ secrets.DOCKERHUB_USERNAME }}/msvc-users:latest

